<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="LogFile" fileName="logs/log4j.log">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.ffhs.referencease" level="info" additivity="false">
      <AppenderRef ref="LogFile"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="LogFile"/>
    </Root>
  </Loggers>
</Configuration>


